rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // 본인 데이터만 읽고 쓸 수 있음
    match /users/{uid} {
      allow read, write: if request.auth != null && request.auth.uid == uid;
    }
  }
}
